<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baseeasy.commonlibrary">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:sharedUserId="android.uid.system" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application>

        <activity
            android:name=".selectimageandvideo.idcardcamera.CameraImageBaseActivity"
            android:exported="false" />
        <activity

            android:name=".selectimageandvideo.idcardcamera.IDCardCameraActivity"
            android:exported="false" />
        <activity
            android:name=".selectimageandvideo.selectvideo.SelectVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".selectimageandvideo.selectimage.SelectImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".selectimageandvideo.selectimage2.SelectImageActivity2"
            android:screenOrientation="portrait" />
    </application>

</manifest>